$x7otsaa : "../assets/images/sp.png";
$logo01 : 22px 24px -92px -0px $x7otsaa 100% 0% 518.18182% 1.0909090909090908;
$logo02 : 90px 91px -0px -0px $x7otsaa 0% 0 126.66667% 1.011111111111111;

@mixin sprite-width($sprite, $width) {
  @if $width{
    width: $width;
  }@else {
    width: nth($sprite, 1); 
  }
}
@mixin sprite-height($sprite, $width) {
  @if $width{
    height: $width * nth($sprite, 9);
  }@else {
    height: nth($sprite, 2); 
  }
}
@mixin sprite-position($sprite, $width) {
  @if $width {
      background-position: nth($sprite, 6)  nth($sprite, 7);
  }@else {
      background-position: nth($sprite, 3)  nth($sprite, 4);
  }
}
@mixin sprite-image($sprite, $width) {
  $sprite-image: nth($sprite, 5);
  background-image: url(#{$sprite-image});
  @if $width {
      background-size:  nth($sprite, 8) auto;
  }
}
@mixin sprite($sprite, $width:false) {
  @include sprite-image($sprite, $width);
  @include sprite-position($sprite, $width);
  @include sprite-width($sprite, $width);
  @include sprite-height($sprite, $width);
}
