//noinspection CssInvalidAtRule
@import-normalize ;
html, body {
  margin: 0;
  padding: 0;
}
//
//
//.c {
//  @include sprite($logo02, 30px)
//}
//
//.d {
//  @include sprite($logo02)
//}

.nav {
  margin: 10px;
  $h: 30px;
  display: block;
  height: $h;
  list-style: none;
  a {
    font-size: 13px;
    color: #666;
    height: inherit;
    width: 100px;
    float: left;
    line-height: $h;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    &:hover, .act {
      background: #eee;
      color: #333;
    }
  }
}
.y{
  margin-left: 40px;
  cursor: pointer;
  user-select: none;
}